* {
  background: black;  
  color: white;
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  max-width: 450px;
  border-radius: 100vw;
  padding: 20px 15px;
  border: none;
  background: white !important;
  color: black !important;
}
